.link-sidebar {
  list-style-type: none;
  margin: 15px;
  font-size: 1.2rem;

  a {
    text-decoration: none;
  }
}

.active-link-sidebar {
  background-color: $tertiary-color;
  border-radius: 10px;
}