@media only screen and (min-width: 769px) {
    
    .uk-container {
        width: 50% !important;
    }

}

/* oliver tsubasa */

.card-info-container {
    padding-bottom: 15px;
}

.type-pokemon {
    width: 68px;

    display: inline-block;
    background-color: aqua;
    border-radius: 10px;
    padding: 10px 15px;
    padding-left: 15px !important;    
    font-size: 1.2em;
    text-align: center;
    margin: 0px 15px !important;
    color: white;
    font-weight: bold;    
    border: 1px solid #414141;
}