// align text

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-rigth {
  text-align: right;
}

.color-black {
  color: black !important;
}

.no-border {
  border: 0 !important;
}

// margin

.mg-1 {
  margin: 5px !important;
}

.mg-2 {
  margin: 10px !important;
}

.mg-3 {
  margin: 15px !important;
}

// flex

.flex-full-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex {
  display: flex;
}

.flex-auto {
  flex: auto;
}

.flex-start {
  flex: initial;
}

.flex-end {
  flex: end;
}

// transform

.transform-45-neg {
  transform: rotateZ(-45deg) !important;
} 