body {
    margin: 0;
}

.grid-item-sidebar {
    grid-area: sidebar;

    background-color: $base-color;
}

.grid-item-navbar {
    grid-area: navbar;

    background-color: $secondary-color;
}

.grid-item-content {
    grid-area: conteudo;

    padding: $base-padding;
}

.grid-layout {
    display: grid;
    grid-template-columns: 250px repeat(3 ,1.1fr);
    grid-template-rows: 110px 1.5fr 1fr;
    grid-template-areas:
        "sidebar conteudo conteudo conteudo"
        "sidebar conteudo conteudo conteudo"
        "sidebar conteudo conteudo conteudo";
    min-height: 100vh;
}

.grid-container {
    display: grid;
    gap: $base-gap;
}

.grid-column-1 {
    grid-template-columns: auto;
}

.grid-column-2 {
    grid-template-columns: auto auto;

    @media only screen and (max-width: 425px) {
        grid-template-columns: auto;
    }
}

.grid-column-3 {
    grid-template-columns: auto auto auto;

    @media only screen and (max-width: 1024px) {
        grid-template-columns: auto auto;
    }

    @media only screen and (max-width: 425px) {
        grid-template-columns: auto;
    }
}

.grid-column-4 {
    grid-template-columns: auto auto auto auto;

    @media only screen and (max-width: 1024px) {
        grid-template-columns: auto auto;
    }

    @media only screen and (max-width: 425px) {
        grid-template-columns: auto;
    }
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: $base-padding;
    font-size: 30px;
    text-align: center;
}

@media only screen and (max-width: 425px) {
    .grid-item-sidebar {
        display: none;
    }

    .grid-layout {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 110px 1.5fr 1fr;
        grid-template-areas:
            "conteudo conteudo"
            "conteudo conteudo"
            "conteudo conteudo";
        min-height: 100vh;
    }
}